/* @group General Styles */

body {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #eff1f2;
}

p {
}

b, strong {

}

a:link {
	text-decoration: underline;
}

a:visited {
}

textarea  {
	/*background:#808080 none repeat scroll 0%; */
	background: url(images/menu_starter.png) repeat-x;
	color:#202020;
	border:none;
	height:1.2em;
	width:98%;
	overflow:auto;
}

.Prompt_input{
	color:#80ee80;
}
.Prompt_error{
	color:#ee8080;
}
a:hover, a:active {
	text-decoration: none;
}

img {
	border-style: none;
}

.image-left {
	float: left;
	margin: 6px 6px 6px 0;
}

.image-right {
	float: right;
	margin: 6px 0 6px 6px;
}
	
/* @end */

/* @group Layout */
#gradient {
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 508px;
}
.clearer {
	clear: both;
}

#container { 
	margin: 0px auto;
	text-align: left;
	position: relative;
	z-index: 500;
}

#pageHeader {
	border-bottom: 1px solid #a1a4a8;
	height: 80px;
	display: block;
	position: relative;
}

#pageHeader img {
	float: left;
	margin-right: 10px;
}

#pageHeader h1 {
	font: bold 2.1em  'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	color: #000000;
	padding: 10px 0 0 10px;
	margin: 0;
}

#pageHeader h2 {
	color: #a1a5a9;
	padding-left: 10px;
	margin: 0;
	padding-bottom: 10px;
	font-size: 1.1em;
	font-weight: normal;
}

#contentContainer {
	font-size: 0.8em;
}

#content {
	height:500px;
}
#terminalContainer {
font-family:"Andale Mono",courier,fixed,monospace;
margin-top:10px;
text-align:left;
overflow:auto;
width:95%;
height:320px;
}

.normalOutput {
background:transparent none repeat scroll 0%;
color:black;
}
.print {
background:transparent none repeat scroll 0%;
color:black;
}
.error {
background:white none repeat scroll 0%;
color:red;
}
.propList {
background:white none repeat scroll 0%;
color:green;
}
.message {
background:white none repeat scroll 0%;
color:green;
}
.tabcomplete {
background:white none repeat scroll 0%;
color:purple;
}

.contentSpacer {
	float:right;
	width:1px;
}
.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}

#sidebarContainer {
	width: 199px;
	padding-bottom: 20px;
	font-size: 0.8em;
}

#sidebarContainer .sideHeader {
	font-weight: bold;
	padding: 10px 10px 0;
	font-size: 1.4em;
}

#footer {
	color: #808080;
	text-align: center;
	font-size: 0.7em;
}

#footer p {
	padding: 0 0 10px 0;
	margin: 0;
}

#footer a:link, #footer a:visited {

}

#footer a:hover, #footer a:active {
	
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #a0a5a7;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#breadcrumbcontainer li {
	display: inline;
	padding: 0;
}

#breadcrumbcontainer a {

}

#breadcrumbcontainer a:hover {

}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	width: 100%;
	height: 48px;
	display: block;
	position: relative;
	font-size: 0.8em;
}

#navcontainer #current {
	text-shadow: none;
}

#navcontainer .currentAncestor {
	text-shadow: none;
}

/* Parent - Level 0 */

#navcontainer ul {
	height: 48px;
	list-style: none;
	margin: 0;
	background: url(images/menu_starter.png) no-repeat left top;
	padding: 0 0 0 1px;
	position: relative;
	z-index: 10;
}

#navcontainer li {
	display: inline;
	float: left;
}

#navcontainer a{
	margin-top: 4px;
	width: 112px;
	height: 23px;
	display: block;
	background-image: url(images/button_normal.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	z-index: 7;
	text-decoration: none;
	padding-top: 7px;
	color: #3c3c3c;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
}

#navcontainer a:hover {
	text-shadow: none;
}

#navcontainer a:active {

}

/* Child - Level 1 */

#navcontainer ul ul {
	position: absolute;
	left: 0;
	top: 28px;
	width: inherit;
	font-size: 0.99em;
	z-index: 9;
	background: none;
	margin: 0;
	padding: 0;
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	background: none;
	padding-top: 1px;
	width: auto;
	float: left;
	padding: 0 8px;
	height: 15px;
	position: relative;
	z-index: 8;
}

#navcontainer ul ul a:hover{
	text-shadow: 0px 1px 0px #ffffff;
}

#navcontainer ul ul #current{
	height: 15px;
	text-shadow: none;
}

#navcontainer ul ul .currentAncestor {
	height: 15px;
	text-shadow: none;
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	position: absolute;
	left: 10px;
	top: 20px;
	width: inherit;
	margin: 0;
	white-space: nowrap;
	padding: 0px 0px 0px 10px;
}

#navcontainer ul ul ul li {
}

#navcontainer ul ul ul li a {
	color: #121212;
	text-shadow: none;
}

#navcontainer ul ul ul li a:hover {
	text-decoration: underline;
	background: none;
	text-shadow: none;
}

#navcontainer ul ul ul #current {	font-weight: normal;
	background: none;
	text-shadow: none;
	text-decoration: underline;
}

#navcontainer ul ul ul ul {
	display: none;
}

/* @end */

/* @group Global Classes */

.standout, blockquote {	border: 1px solid #e2e2e2;	background: #f1f1f1;	color: #666666;
	margin: 0 10px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}h1 {	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #000000;	margin: 0px;}h2 {	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #191919;	margin: 0px;}h3 {	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #333333;	margin: 0px;}

h4 {	font-family: Verdana, Arial, Helvetica, sans-serif;	color: #4c4c4c;	margin: 0px;}
.imageStyle {}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
} 

/* Table Styles */
table {
	font-size: 1em;
}
/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {}

.blog-entry-summary {
	margin-bottom: 10px;
}.blog-archive-headings-wrapper {
	padding-bottom: 10px;
	border-bottom: Solid 1px #e2e2e2;
}

.blog-archive-entries-wrapper {
}.blog-archive-month {
	font-weight: bold;
	font-size: 1.4em;
}.blog-archive-link { 
}
	
/* @end */.blog-entry {	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #a1a4a8;
}.blog-entry-title {	text-align: justify;	font: bold 1.4em 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;	color: #000000;
}.blog-entry-date {	color: #a1a5a9;
	font-size: 0.95em;
	margin-bottom: 0.9em;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

/*Styles the category link next to the date */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

/*Styles the permalink next to the date */
.blog-entry-permalink {
}

.blog-entry-permalink a:link, .blog-entry-permalink a:visited {
}
.blog-entry-body {	text-align: justify;	padding: 0px;
}

.blog-entry-comments {
	margin-top: 10px;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#readerListing {
	border-bottom: 1px solid #a1a4a7;
	padding-bottom:10px;
}
#about {
	padding-top:10px;
}

.reader-listed-link-enabled {
	font-weight:bolder;
}

.reader-listed-link-disabled{
	font-weight:normal;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-bottom: 10px;
	font-weight:normal;
}

/* @end */

/* @group File Sharing */

.filesharing-description {	background: #e2eeff;	color: #000000;	font-weight: bold;	font-size: 11px;	padding: 5px;	margin: 0px;}.filesharing-item {	padding: 0px;	margin: 0px;}.filesharing-item-title {}

.filesharing-item-title a:link {	color: #0000ee;	text-decoration: underline;	background: #f6f6f6 no-repeat url(images/down_arrow.png) 440px 6px;	padding: 5px;
	display: block;
}

.filesharing-item-title a:hover {
	text-decoration: none;
}.filesharing-item-description {	text-align: justify;	font: normal 0.85em Verdana, Arial, Helvetica, sans-serif;	padding: 5px;	margin-bottom: 5px;}
/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {	padding: 5px;	font-size: 2.1em;	font-weight: bold;	text-align: center;	color: #000000;}.album-description {	padding: 5px;	font-size: 1em;	font-weight: normal;	color: #a1a5a9;	text-align: left;
	margin-bottom: 80px;}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 65px;
	margin-right: 25px;
	display: block;
}.thumbnail-frame {	padding: 5px;	background: #f3f3f3;	margin: 0px 1px 1px 0px;
	position: absolute;
    bottom: 0;
    left: 0;}.thumbnail-frame a {}.thumbnail-frame a:hover {}.thumbnail-frame img {	margin: auto;
    border: none;}.thumbnail-caption {	color: #000000;	font: bold 0.85em   'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 5px 0 0 0;
	height: 35px;
	display: block;}	/* @end *//* @group Single Page (Photo view) */.photo-background {	font-family: Verdana, Arial, Helvetica, sans-serif;	padding: 5px;	background: none;}.photo-navigation { 	background: #f1f1f1;	color: #5b5b5b;	text-align: center;	font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	padding: 5px;
	margin: 10px 10px 1px 10px;
}.photo-navigation a {	text-decoration: underline;}.photo-navigation a:hover {	text-decoration: none;}.photo-frame{	background: #f3f3f3;	padding: 10px;
}.photo-links {	padding: 0px;
	margin: 0;
	font-size: 0.85em;}.photo-title {	padding: 0px;	font-weight: bold;	font-size: 1.2em;	color: #000000;	margin: 0px;}.photo-caption {	padding: 0px;	color: #000000;	font-size: 0.85em;	font-weight: normal;}
/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {	text-align: center;	margin: 5px;}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-weight: bold;	text-align: center;
	font-size: 2.1em;
}.movie-page-description {
	padding: 5px;	font-size: 13px;	font-weight: normal;	color: #a1a5a9;	text-align: left;}.movie-thumbnail-frame {
	float: left;
	display: inline;
	padding: 5px;	background: #f3f3f3;	margin: 5px;
	width: 131px;
	text-align: center;
}

.movie-thumbnail-caption {
	color: #000000;	font: bold 0.85em   'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	padding-top: 5px;
	text-align: center;
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	background: #f3f3f3;
}

.movie-frame {
	padding: 5px;
	text-align: center;
}

.movie-title {
	text-align: center;
	color: #000000;	font: bold 1.1em 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	padding-top: 5px;
}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { } 

.required-text { } 

.form-input-field { } 

.form-input-button { } 

#outputT {
}
h3 {
margin-bottom:0em;
margin-top:0pt;
}
h3 + div {
margin:0pt;
}
form {
margin:0pt;
padding:0pt;
}
/* @end */


